body {
    font-family: "Trebuchet MS";
    color: black;
    background-image: url('https://github.com/RChavez/187A_usability/raw/master/images/navbar.jpg');
    background-color: white;
    background-repeat: repeat-x
}
.navigation {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 25px;
}